* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

[class*="col-lg-"],
[class*="col-md-"],
[class*="col-sm-"] {
    float: none;
    margin: 0;
}

/*************** Large device ***************/
@media (min-width: 992px) {
    .col-lg-1  { flex: 0 0 calc((100% - 165px) / 12); }
    .col-lg-2  { flex: 0 0 calc((100% - 150px) / 6); }
    .col-lg-3  { flex: 0 0 calc((100% - 120px) / 4); }
    .col-lg-4  { flex: 0 0 calc((100% - 90px) / 3); }
    .col-lg-5  { flex: 0 0 calc((100% - 75px) / 2.4); }
    .col-lg-6  { flex: 0 0 calc((100% - 60px) / 2); }
    .col-lg-7  { flex: 0 0 calc((100% - 45px) / 1.71); }
    .col-lg-8  { flex: 0 0 calc((100% - 30px) / 1.5); }
    .col-lg-9  { flex: 0 0 calc((100% - 15px) / 1.33); }
    .col-lg-10 { flex: 0 0 calc((100%) / 1.2); }
    .col-lg-11 { flex: 0 0 calc((100%) / 1.09); }
    .col-lg-12 { flex: 0 0 100%; }
}

/*************** Medium device ***************/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1  { flex: 0 0 calc((100% - 165px) / 12); }
    .col-md-2  { flex: 0 0 calc((100% - 150px) / 6); }
    .col-md-3  { flex: 0 0 calc((100% - 120px) / 4); }
    .col-md-4  { flex: 0 0 calc((100% - 90px) / 3); }
    .col-md-5  { flex: 0 0 calc((100% - 75px) / 2.4); }
    .col-md-6  { flex: 0 0 calc((100% - 60px) / 2); }
    .col-md-12 { flex: 0 0 100%; }
}

/*************** Small device ***************/
@media (max-width: 767px) {
    .col-sm-1  { flex: 0 0 calc((100% - 165px) / 12); }
    .col-sm-2  { flex: 0 0 calc((100% - 150px) / 6); }
    .col-sm-3  { flex: 0 0 calc((100% - 120px) / 4); }
    .col-sm-4  { flex: 0 0 calc((100% - 90px) / 3); }
    .col-sm-6  { flex: 0 0 calc((100% - 60px) / 2); }
    .col-sm-12 { flex: 0 0 100%; }
}

.card  {
    position: relative;
    background-color: gray;
    padding: 20px;
    font-family: "Comic Sans MS", sans-serif;
    border: 2px solid black;
    border-radius: 10px;
    flex-grow: 1;
}

.label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    font-weight: bold;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    width: 90px;
    text-align: center;
    border-radius: 0 10px 0 10px;
}

.content {
    margin-top: 20px;
}

.header {
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
}
